*{
    margin: 0px;
    padding: 0px;
}

.mainContainer{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to right, rgba(6, 119, 248, 0.671) , #317d5e8d, rgba(27, 176, 187, 0.607),#160a8481);
}