.mainNewsContainer{
    margin: auto;
    justify-content: center;
    /* border: 2px solid black; */
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    

}

.newsHeading{
    /* border: 2px solid black; */
    background-color: #ffffff;
    color: white;
    text-align: center;
    /* margin-top: 10px; */
    font-size: 30px;
    position: sticky;
    top: 36px;
    z-index: 100;
}
.newsHeading>h2{
    background:linear-gradient(to right, #6d4353,
    #785353, #74adb4, #575332);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.newsContainer{
    margin: 20px;
    padding: 10px;
    /* border: 5px solid black; */
    /* display: flex;
    flex-direction: row; */
    /* height: 700px; */
    /* flex-wrap: wrap; */
    flex: 0 0 33.333333%;
}

.pageNavigateBtn{
    margin: auto;
    text-align: center;
    
}

.previousBtn,.nextBtn{
    margin: 10px;
    padding: 6px;
    width: 80px;
    border-radius: 5px;
    border: none;
    background-color: rgb(73, 69, 64);
    color: white;
}

.previousBtn:hover,.nextBtn:hover{
    background-color: rgb(1, 137, 161);
}

.previousBtn:active,.nextBtn:active{
    transform: scale(0.89);
}

.previousBtn:disabled,.nextBtn:disabled{
    background-color: rgb(63, 137, 137);
    transform: none;
}