.mainNewsContainer{
    margin: auto;
    justify-content: center;
    /* border: 2px solid black; */
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    

}

.newsHeading{
    /* border: 2px solid black; */
    background-color: #ffffff;
    color: white;
    text-align: center;
    /* margin-top: 10px; */
    font-size: 30px;
    position: sticky;
    top: 36px;
    z-index: 100;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotateX(0deg);
      -o-transform: rotateX(0deg);
      transform: rotateX(0deg);
    }
    to {
      -webkit-transform: rotateX(360deg);
      -o-transform: rotateX(360deg);
      transform: rotateX(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotateX(0deg);
      -moz-transform: rotateX(0deg);
      -webkit-transform: rotateX(0deg);
      -o-transform: rotateX(0deg);
      transform: rotateX(0deg);
    }
    to {
      -ms-transform: rotateX(360deg);
      -moz-transform: rotateX(360deg);
      -webkit-transform: rotateX(360deg);
      -o-transform: rotateX(360deg);
      transform: rotateX(360deg);
    }
  }


.newsHeading>h2{
    background:linear-gradient(to right, #6d4353,
    #785353, #74adb4, #575332);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: rotating 4s linear infinite;
    -moz-animation: rotating 4s linear infinite;
    -ms-animation: rotating 4s linear infinite;
    -o-animation: rotating 4s linear infinite;
    animation: rotating 4s linear infinite;
}

.newsContainer{
    margin: 20px;
    padding: 10px;
    /* border: 5px solid black; */
    /* display: flex;
    flex-direction: row; */
    /* height: 700px; */
    /* flex-wrap: wrap; */
    flex: 0 0 33.333333%;
}

.pageNavigateBtn{
    margin: auto;
    text-align: center;
    
}

.previousBtn,.nextBtn{
    margin: 10px;
    padding: 6px;
    width: 80px;
    border-radius: 5px;
    border: none;
    background-color: rgb(73, 69, 64);
    color: white;
}

.previousBtn:hover,.nextBtn:hover{
    background-color: rgb(1, 137, 161);
}

.previousBtn:active,.nextBtn:active{
    transform: scale(0.89);
}

.previousBtn:disabled,.nextBtn:disabled{
    background-color: rgb(63, 137, 137);
    transform: none;
}

.countryContainer{
    /* border: 2px solid black; */
    
    display: inline;
    position: fixed;
    /* position: absolute; */
    top: 50px;
    z-index: 100;

    
    
}

.countryContainer>select{
    /* border: none; */
    border-radius: 5px;
    text-align: center;
    width: 120px;
    height: 30px;
    background-color: #353839;
    color: #e7eff6;
    /* position: fixed; */
    top: 10px;
}

.countryContainer>select>option{
    
    height: 100px;

}

.countryContainer>select:focus{
    width: 150px;
}
    


